# URL de la base de datos (usa 'localhost' para desarrollo local directo y 'db' para Docker)
DATABASE_URL="postgresql://postgres:1234@localhost:5432/Proyecto?schema=public"
JWT_SECRET="pon_aqui_una_contraseña_secreta_cualquiera"

